#change-password-form {
    width: 80%;
}
#password-error-dialog {
    color: var(--danger-color);
    margin-bottom: 10px;
}
.btn-wrapper {
    display: inline-block;
    margin: 10px auto;
}

@media (max-width: 1000px) {
    #change-password-form {
        width: 85%;
    }
}
@media (max-width: 750px) {
    #change-password-form {
        width: 90%;
    }
}
@media (max-width: 500px) {
    #change-password-form {
        width: 95%;
    }
}
@media (max-width: 400px) {
    #change-password-form {
        width: 100%;
    }
}