<div class="center-block" id="change-password-form">
  <div id="password-error-dialog" class="hidden text-center" *ngIf="error">
    <small>There was an error updating your password! Please try again.</small>
  </div>
  <label for="enterPassword">Current password</label>
  <input class="form-control" type="password" placeholder="Enter your current password" name="enterPassword" [(ngModel)]="currentPassword">
  <app-new-password-form [password]="password" [update]="true" (isValid)="password = $event"></app-new-password-form>
  <div class="btn-wrapper pull-right">
    <button type="button" class="btn btn-primary" (click)="updatePassword()" [disabled]="!currentPassword || !password">Update</button>
  </div>
</div>