<div class="container outer">
  <div class="visible top">
    <app-loading *ngIf="loading"></app-loading>
    <form #passwordResetForm="ngForm" *ngIf="!loading && !success && !failure" (keydown)="onKeyDown($event)">
      <div class="form-group row center-block content-wrapper">
        <app-new-password-form [password]="password" [update]="true" (isValid)="password = $event"></app-new-password-form>
      </div>
      <div class="form-group row center-block content-wrapper">
        <button type="button" class="btn btn-primary pull-right" (click)="recaptcha.execute()" [disabled]="!passwordResetForm.form.valid || !password">Submit</button>
      </div>
    </form>
    <div class="container" *ngIf="!loading && success">
      <div class="row center-block text-center">
        <br>
        <div class="col">Your password has been successfully reset.</div>
        <br>
        <div class="col">You can now login using the sidebar or by visiting the
          <a class="point" routerLink="/login">login page.</a>
        </div>
        <br>
        <div class="col">Need help? Contact us
          <a class="point" routerLink="/contact">here.</a>
        </div>
        <br>
      </div>
    </div>
    <div class="container" *ngIf="!loading && failure">
      <div class="row center-block text-center">
        <br>
        <div class="col">There was an issue resetting your password.</div>
        <br>
        <div class="col">Please refresh the page and try again. If the error persists, send us a message
          <a class="point" routerLink="/contact">here.</a>
        </div>
        <br>
      </div>
    </div>
    <recaptcha #recaptcha required aria-required="true" size="invisible" (resolved)="$event && resetPassword($event)" siteKey="6LfC-kYUAAAAACj6JKNcWhXgqS-I-hTkEkx07AYx"></recaptcha>
  </div>
</div>