<label class="pull-left" for="passwordFormPassword">{{ update ? 'New password' : 'Password' }}</label>
<input (blur)="checkPassword()" minlength="8" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[-!@$%^&*()_+|~=`{}\[\]:;'<>?,.\/\\])[A-Za-z0-9-!@$%^&*()_+|~=`{}\[\]:;'<>?,.\/\\]{8,}"
  type="password" class="form-control" id="passwordFormPassword" aria-describedby="passwordFormPassword" placeholder="Enter a password"
  [(ngModel)]="password" name="passwordFormPassword" #passwordFormPassword="ngModel" required>
<small class="help-block">
  <span *ngIf="error">
    <span class="far fa-times-circle fa-fw"></span> {{error}}
  </span>
  <span *ngIf="requirements && !error">
    <span class="far fa-check-circle fa-fw"></span> Requirements
  </span>
</small>
<label for="passwordFormConfirm">{{ update ? 'New password' : 'Password' }} (again)</label>
<input (keyup)="confirmPassword()" [ngClass]="{'ng-invalid': !confirm || !password || confirm != password, 'ng-valid': confirm && password && confirm == password}"
  type="password" minlength="8" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[-!@$%^&*()_+|~=`{}\[\]:;'<>?,.\/\\])[A-Za-z0-9-!@$%^&*()_+|~=`{}\[\]:;'<>?,.\/\\]{8,}"
  class="form-control" id="passwordFormConfirm" aria-describedby="passwordFormConfirm" placeholder="Confirm password" [(ngModel)]="confirm"
  name="passwordFormConfirm" #passwordFormConfirm="ngModel" required>
<small class="help-block" *ngIf="confirm && password">
  <span *ngIf="confirm != password">
    <span class="far fa-times-circle fa-fw"></span> Passwords do not match
  </span>
  <span *ngIf="confirm == password">
    <span class="far fa-check-circle fa-fw"></span> Passwords match
  </span>
</small>