.project-details, textarea {
    margin-bottom: 10px;
}
.h4 {
    margin-top: -10px;
    line-height: 30px;
    font-size: 1.1em;
}
.description {
    margin-bottom: 30px;
}
.message-form-wrapper {
    margin: 0 auto;
    padding-bottom: 0;
}