<!-- Start project category and description -->
<div class="project-details">
  <h4 class="col-xs-12">
    <!-- add category form -->
    <app-add-category-form *ngIf="edit_mode && currentUser?.id == project.user.id" (addedCategory)="onCategoryCreate($event)"
      [projectId]="project.id"></app-add-category-form>
    <app-project-category *ngFor="let category of project.categories; let i = index" [edit_mode]="edit_mode"
      [category]="category" [index]="i" [projectId]="project.id" (deletedCategory)="onCategoryDelete($event)"></app-project-category>
  </h4>
  <div class="col-xs-12">
    <p *ngIf="!edit_mode" class="preserve-formatting description">{{project.description}}</p>
    <textarea *ngIf="edit_mode" name="editDescription" [(ngModel)]="edit_description" rows="4" class="form-control" placeholder="Enter a description"></textarea>
  </div>
</div>
<!-- End project category and description -->
<!-- Start team message form -->
<div class="message-form-wrapper">
  <app-project-detail-tab-message-form class="center-block content-wrapper" [userId]="currentUser?.id" [projectId]="project.id"
    (postedMessage)="appendMessage($event)"></app-project-detail-tab-message-form>
</div>
<!-- End team message form -->
<!-- Start team messages -->
<div *ngIf="project?.messages?.length">
  <app-team-message-component *ngFor="let message of project.messages; let i = index" (deletedMessage)="onMessageDelete($event)"
    (deletedReply)="onReplyDelete($event)" [message]="message" [index]="i"></app-team-message-component>
</div>
<!-- End team messages -->
<app-loading *ngIf="loadingData && !project.messages?.length"></app-loading>
<div *ngIf="!project.messages?.length && !loadingData" class="text-center">There's nothing here!</div>