<project-form class="top" (submit)="loadProjects()"></project-form>
<div class="container">
	<div class="row" *ngFor="let project of projects">
		<div class="visible list-item col-xs-12 col-sm-7 col-sm-push-5 col-md-7 col-md-push-4 col-lg-push-4">
			<div class="col col-xs-4 user" (click)="routeTo('/profiles/' + project.user.id)">
				<h4 class="username pull-left">{{project.user.username}}</h4>
			</div>
			<div class="col col-xs-8 project" (click)="routeTo('/projects/' + project.id)">
				<div class="row">
					<h3 class="pull-left col-xs-8 project-title">{{project.title}}</h3>
					<div class="col-xs-4">
						<span class="badge badge-default pull-right">
							<span class="glyphicon glyphicon-user"></span>&nbsp;{{project.team_member_count}}&nbsp;&nbsp;
							<span class="glyphicon glyphicon-tasks"></span>&nbsp;{{project.task_count}}
						</span>
					</div>
				</div>
				<small class="datetime text-muted pull-left">on {{project.create_datetime | date:'medium'}}</small>
				<p class="short-text project-description pull-left">{{project.description}}</p>
			</div>
		</div>
	</div>
</div>