<div class="container outer">
  <h2 class="visible top text-center">About</h2>
  <div class="visible">
    <p class="center-block content-wrapper">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae sodales arcu. Vivamus quis commodo nisi. Proin eu
      pretium magna. Pellentesque in est leo. Etiam feugiat est sit amet molestie placerat. Phasellus dui elit, pulvinar
      nec nibh eleifend, rhoncus maximus ligula. Integer quis porta velit. Curabitur in lacinia lacus, eget auctor neque.
      Aenean purus arcu, convallis id scelerisque ultricies, bibendum lobortis arcu.
    </p>
    <p class="center-block content-wrapper">Vivamus volutpat ullamcorper magna, a egestas nulla facilisis sed. Fusce at lectus consequat, blandit neque sed, eleifend
      purus. Donec ornare eget neque sit amet aliquet. Fusce dictum imperdiet augue, sed fermentum ipsum volutpat id. Proin
      et dignissim purus. Aenean iaculis ligula ac mauris hendrerit, non pharetra risus hendrerit. Curabitur convallis nunc
      sed commodo tempus. Suspendisse nisi est, dictum id pellentesque non, fermentum nec nulla. Aenean facilisis neque in
      sem placerat accumsan.
    </p>
    <p class="center-block content-wrapper">Morbi feugiat gravida dapibus. Pellentesque sed nisi placerat, volutpat lorem eu, vulputate tellus. Phasellus luctus
      rhoncus dolor ac feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Morbi rhoncus eu nunc a congue. Pellentesque a efficitur diam. Aliquam lorem lorem, feugiat id semper id, venenatis
      in lectus. Ut finibus mi ut neque commodo, nec rutrum velit lobortis.
    </p>
  </div>
</div>