.form-toggle:hover {
    color: var(--main-color);
}
#changed-password-dialog {
    margin: 10px auto;
}
#logo-wrapper {
    padding: 10px 30%;
}
.visible {
    margin-top: 80px;
}
@media (max-width: 767px) {
    .visible {
        margin-top: 50px;
        padding-top: 10px;
    }
    #logo-wrapper {
        padding: 10px 20%;
    }
}