<div class="container outer">
  <div class="visible" *ngIf="!messageSuccessful">
    <div class="text-center" *ngIf="currentUser">
      <h3 class="message-title">Hi {{currentUser.username}}!</h3>
      <p>Please enter your message below.</p>
    </div>
    <form>
      <div class="center-block form-group" *ngIf="!currentUser">
        <label for="contactEmailLine">Email:</label>
        <textarea type="email" rows="1" class="center-block form-control" id="contactEmailLine" aria-describedby="contactEmailBody"
          placeholder="Enter your email" required [(ngModel)]="contact.email" name="email"></textarea>
      </div>
      <div class="center-block form-group" *ngIf="!currentUser">
        <label for="contactNameLine">Name:</label>
        <textarea type="name" rows="1" class="center-block form-control" id="contactNameLine" aria-describedby="contactNameLine"
          placeholder="Enter your name (optional)" [(ngModel)]="contact.name" name="name"></textarea>
      </div>
      <div class="center-block form-group">
        <label for="contactInputBody">Message:</label>
        <textarea type="text" rows="5" class="center-block form-control" id="contactInputBody" aria-describedby="contactFormBody"
          placeholder="Enter a message" required [(ngModel)]="contact.message" name="message"></textarea>
      </div>
      <div class="center-block form-group">
        <button class="center-block btn btn-primary" type="button" (click)="sendMail()">Submit</button>
      </div>
    </form>
  </div>
  <div class="visible page-content" *ngIf="messageSuccessful">
    <div class="text-center success-wrapper">
      <h3 class="message-title">Success!</h3>
      <p>Your message has been submitted successfully.</p>
    </div>
  </div>
</div>