.visible {
    margin-top: 70px;
}
form {
    padding-top: 20px;
}
.form-group {
    width: 95%;
}
.btn-primary {
    width: 100px;
}
.success-wrapper {
    padding-bottom: 10px;
}
.message-title {
    color: var(--main-color);
}

@media (max-width: 767px) {
    .visible {
        margin-top: 50px;
        padding-top: 10px;
    }
}