.form-control {
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn {
    border-radius: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}