<div class="navbar navbar-default">
	<div class="nav navbar-nav navbar-left">
		<button class="navbar-brand btn btn-secondary pull-left" type="button" (click)="routeTo('')"><span class="glyphicon glyphicon-home"></span></button>
		<form class="navbar-brand navbar-form input-group" role="search">
			<input type="text" class="form-control center-block" placeholder="Search" name="search-bar" id="search-bar">
			<div class="input-group-btn pull-left">
				<button class="btn btn-primary" type="submit">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</div>
		</form>
	</div>
</div>