.navbar {
	background: var(--main-color);
	border-bottom: 3px solid var(--light-accent-color);
	border-radius: 0;
	
	box-shadow: 0 0 7px 0 var(--dark-color);
	-moz-box-shadow: 0 0 7px 0 var(--dark-color);
	-webkit-box-shadow: 0 0 7px 0 var(--dark-color);
}
.navbar-header {
	margin-left: 10%;
}
.navbar-brand.no-change:hover {
	cursor: default;
}

.logo {
	padding: 7px;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
.logo:hover {
	-webkit-filter: invert(0%);
	filter: invert(0%);
}

.navbar-toggle {
	border: none;
	padding-bottom: 5px !important;
	color: var(--light-color);
}
.navbar-toggle:hover, .navbar-toggle:focus, .navbar-toggle:active {
	background: var(--dark-accent-color);
}
.navbar-right {
	margin-right: 10%;
}
.navbar-brand.no-change, .navbar-right>li>a:first-child {
	margin-right: 25px;
}
a, .active a:hover {
	color: var(--light-color) !important;
}
a:hover {
	text-decoration: none !important;
	background: var(--dark-accent-color) !important;
}
.active a {
	color: var(--dark-accent-color) !important;
}
.active a, .active a:hover {
	background: var(--light-accent-color);
}
.no-change:hover {
	color: var(--light-color) !important;
	background: inherit !important;
}
.fa-layers {
	position: absolute;
}
.fa-layers:hover {
	color: var(--dark-color);
}
.fa-layers:hover>.fa-layers-counter {
	background: var(--light-accent-color);
	color: var(--dark-color);
}

/* Resizing/spacing changes */
@media (max-width: 850px) {
	.navbar-header {
		margin-left: 5%;
	}
	.navbar-right {
		margin-right: 5%;
	}
}

/* Styles to get rid of the scroll bars */
.navbar-collapse.in {
	height: auto !important;
	max-height: none !important;
	overflow: hidden !important;
}
.collapsing {
	max-height: none !important;
	overflow: hidden !important;
}

@media (max-width: 767px) {
	.navbar-collapse, .navbar-form {
		border: none !important;
		box-shadow: none !important;
	}
	.navbar-collapse>.navbar-nav {
		border-top: 3px solid var(--light-accent-color);
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	/* Spacing for search bar in dropdown menu */
	.navbar-form {
		margin: 0 1px !important;
	}
}