<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header ease-io">
			<button *ngIf="xsView" type="button" class="navbar-toggle ease-io-fast" data-toggle="collapse" data-target="#crowdsrc-nav-collapse-main">
				<span class="fas fa-bars fa-lg" data-fa-transform="grow-4"></span>
			</button>
			<a *ngIf="!xsView" class="point" routerLink="/dashboard">
				<img class="navbar-brand logo ease-io" src="assets/crowdSRC_Logo.svg">
			</a>
			<a class="navbar-brand no-change" *ngIf="xsView && currentUser" [routerLink]="['/crowd', currentUser.username]" [queryParams]="{tab: 'crowd'}">
				<span class="fa-layers fa-2x fa-fw point ease-io">
					<span class="fas fa-users fa-fw" data-fa-transform="shrink-5 up-2"></span>
					<span *ngIf="currentUser.crowd_requests" class="fa-layers-counter fa-lg fa-fw ease-io">{{currentUser.crowd_requests}}</span>
				</span>
			</a>
			<a class="navbar-brand no-change" *ngIf="xsView && currentUser" routerLink="/notifications">
				<span class="fa-layers fa-2x fa-fw point ease-io">
					<span class="fas fa-comment fa-fw" data-fa-transform="shrink-5 up-2"></span>
					<span *ngIf="currentUser.notification_count > 0" class="fa-layers-counter fa-lg fa-fw ease-io">{{_notificationService.getNotificationCount()}}</span>
				</span>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="crowdsrc-nav-collapse-main">
			<ul class="nav navbar-nav">
				<li id="navbar-form-wrapper">
					<form class="navbar-form navbar-left" (ngSubmit)="search()">
						<div class="input-group">
							<input #searchbar type="text" class="form-control" placeholder="Search" name="navbarSearch" [(ngModel)]="searchValue">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<span class="far fa-search"></span>
								</button>
							</div>
						</div>
					</form>
				</li>
				<li *ngIf="xsView" [ngClass]="{'dropdown-bar': xsView, 'active': page == '/dashboard'}" data-toggle="collapse" data-target="#crowdsrc-nav-collapse-main">
					<a routerLink="/dashboard" class="point ease-io">
						<span class="fas fa-lightbulb fa-lg fa-fw"></span>
						<span>Home</span>
					</a>
				</li>
				<li *ngIf="xsView && currentUser" [ngClass]="{'dropdown-bar': xsView, 'active': page == '/crowd/' + currentUser.username}"
				 data-toggle="collapse" data-target="#crowdsrc-nav-collapse-main">
					<a class="point ease-io" [routerLink]="['/crowd', currentUser.username]" [queryParams]="{tab: 'details'}" queryParamsHandling="merge">
						<span class="fas fa-user-circle fa-lg fa-fw"></span>
						<span>Your profile</span>
					</a>
				</li>
				<li *ngIf="xsView && currentUser" [ngClass]="{'dropdown-bar': xsView, 'active': page == '/src/create'}" data-toggle="collapse"
				 data-target="#crowdsrc-nav-collapse-main">
					<a class="point ease-io" routerLink="/src/create">
						<span class="fas fa-plus-square fa-lg fa-fw"></span>
						<span>Create a project</span>
					</a>
				</li>
				<li *ngIf="xsView && currentUser" [ngClass]="{'dropdown-bar': xsView, 'active': page == '/settings'}" data-toggle="collapse"
				 data-target="#crowdsrc-nav-collapse-main">
					<a class="point ease-io" routerLink="/settings">
						<span class="fas fa-cog fa-lg fa-fw"></span>
						<span>Settings</span>
					</a>
				</li>
				<li *ngIf="xsView" [ngClass]="{'dropdown-bar': xsView, 'active': page == '/about'}" data-toggle="collapse" data-target="#crowdsrc-nav-collapse-main">
					<a class="point ease-io" routerLink="/about">
						<span class="fas fa-question-circle fa-lg fa-fw"></span>
						<span>About crowdSRC</span>
					</a>
				</li>
				<li *ngIf="xsView" [ngClass]="{'dropdown-bar': xsView, 'active': page == '/contact'}" data-toggle="collapse" data-target="#crowdsrc-nav-collapse-main">
					<a class="point ease-io" routerLink="/contact">
						<span class="fas fa-envelope fa-lg fa-fw"></span>
						<span>Contact us</span>
					</a>
				</li>
				<li *ngIf="xsView" [ngClass]="{'dropdown-bar': xsView, 'active': !currentUser && page == '/login'}" data-toggle="collapse"
				 data-target="#crowdsrc-nav-collapse-main">
					<a *ngIf="currentUser" class="point ease-io" (click)="logout()">
						<span class="fas fa-sign-out-alt fa-lg fa-fw"></span>
						<span>Logout</span>
					</a>
					<a *ngIf="!currentUser" class="point ease-io" routerLink="/login">
						<span class="fas fa-sign-in-alt fa-lg fa-fw"></span>
						<span>Login</span>
					</a>
				</li>
			</ul>
			<ul *ngIf="!xsView && currentUser" class="nav navbar-nav navbar-right">
				<li>
					<a class="no-change" [routerLink]="['/crowd', currentUser.username]" [queryParams]="{tab: 'crowd'}">
						<span class="fa-layers fa-2x fa-fw point ease-io">
							<span class="fas fa-users fa-fw" data-fa-transform="shrink-4 up-2"></span>
							<span *ngIf="currentUser.crowd_requests" class="fa-layers-counter fa-lg fa-fw ease-io">{{currentUser.crowd_requests}}</span>
						</span>
					</a>
				</li>
				<li>
					<a class="no-change" routerLink="/notifications">
						<span class="fa-layers fa-2x fa-fw point ease-io">
							<span class="fas fa-comment fa-fw" data-fa-transform="shrink-5 up-2"></span>
							<span *ngIf="currentUser.notification_count > 0" class="fa-layers-counter fa-lg fa-fw ease-io">{{_notificationService.getNotificationCount()}}</span>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>