<h3 class="text-center form-title" *ngIf="!hideTitle">Login</h3>
<form #loginForm="ngForm" (submit)="submitCredentials()" (keydown)="onKeyDown($event)">
  <div class="form-group">
    <label class="pull-left" for="enterUsername">Username:</label>
    <input type="text" class="form-control" id="loginUsername" aria-describedby="loginUsername" placeholder="Enter a username"
      [(ngModel)]="username" name="loginUsername" #loginUsername="ngModel" required>
    <label class="pull-left" for="enterPassword">Password:</label>
    <input type="password" class="form-control" id="loginPassword" aria-describedby="loginPassword" placeholder="Enter a password"
      [(ngModel)]="password" name="loginPassword" #loginPassword="ngModel" required>
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-check-input point" name="rememberMe" #rememberCheck="ngModel" aria-describedby="rememberMe"
      [(ngModel)]="remember">
    <small class="form-check-label">&nbsp;Remember me</small>
  </div>
  <div class="form-group text-center hidden" id="login-error-text">
    <small *ngIf="error" class="help-block">Invalid username or password</small>
  </div>
  <div class="form-group">
    <button type="button" class="center-block btn btn-primary" (click)="submitCredentials()">Login</button>
    <small class="center-block text-center">
      <a class="point" routerLink="/forgot-password/">Forgot password?</a>
    </small>
  </div>
</form>