<div class="visible sidebar col-sm-3 col-sm-push-1 col-md-push-0 col-lg-2 col-lg-push-1">
  <div class="inner-wrapper" *ngIf="isAuthenticated && currentUser">
    <div class="row center-block user-info">
      <!-- Display user image in circle -->
      <div class="center-block image-wrapper" (click)="routeTo('/profiles/'+currentUser.id)">
        image
      </div>
      <h4 class="text-center username" (click)="routeTo('/profiles/'+currentUser.id)">{{currentUser.username}}</h4>
    </div>
    <div class="row center-block content-wrapper">
      <div class="text-center col side-list" (click)="routeTo('/profiles/'+currentUser.id)">Your Profile</div>
      <div class="text-center col side-list" (click)="logout()">Logout</div>
      <div class="center-block col spacer"></div>
      <div class="text-center col side-list" (click)="routeTo('/about')">About Crowdsrc</div>
      <div class="text-center col side-list" (click)="routeTo('/contact')">Contact Us</div>
    </div>
  </div>
  <div class="inner-wrapper" *ngIf="!isAuthenticated || !currentUser">
    <!-- Login Form -->
    <div class="center-block login" *ngIf="!showRegistrationForm">
      <app-login-form></app-login-form>
      <p class="text-center">or</p>
      <p class="text-center form-toggle" (click)="showRegistrationForm = !showRegistrationForm">Sign Up</p>
    </div>
    <!-- Registration Form -->
    <div class="center-block register" *ngIf="showRegistrationForm">
      <app-registration-form></app-registration-form>
      <p class="text-center">or</p>
      <p class="text-center form-toggle" (click)="showRegistrationForm = !showRegistrationForm">Login</p>
    </div>
  </div>
</div>