.visible {
    z-index: 999;
    width: 240px;
}
.inner-wrapper {
    padding: 20px 0 0 0;
}
h4 {
    margin-top: 10px;
}
.nav-item {
    color: inherit;
    text-align: center;
    margin-top: 10px;
}
.form-toggle:hover, .nav-item:hover, h4>a {
    color: var(--main-color) !important;
}
a:hover, a:focus, a:active {
    text-decoration: none;
}
hr {
    width: 100%;
    margin: 0 auto;
}
#suggest-task-title {
    display: inline;
    color: var(--dark-accent-color);
}