<h3 class="text-center form-title" *ngIf="!hideTitle">Register</h3>
<form #userForm="ngForm">
  <div class="form-group">
    <label class="pull-left" for="enterUsername">Username:</label>
    <input type="text" class="form-control" id="registrationUsername" aria-describedby="registrationUsername" placeholder="Enter a username"
      [(ngModel)]="model.username" name="registrationUsername" #registrationUsername="ngModel" required>
    <label class="pull-left" for="enterEmail">Email:</label>
    <input type="text" class="form-control" id="email" aria-describedby="enterEmail" placeholder="Enter an email" [(ngModel)]="model.email"
      name="email" #email="ngModel" required>
    <label class="pull-left" for="enterPassword">Password:</label>
    <input type="password" class="form-control" id="registrationPassword" aria-describedby="registrationPassword" placeholder="Enter a password"
      [(ngModel)]="model.password" name="registrationPassword" #registrationPassword="ngModel" required>
  </div>
</form>
<button type="submit" class="btn btn-primary submit-button" [disabled]="!userForm.form.valid" (click)="submitUser()">Register</button>