.upper {
    padding: 10px;
}
.user-info {
    display: inline-block;
    padding-top: 35px;
}

.user-body {
    padding-bottom: 10px;
}
.modal-body {
    padding-bottom: 50px;
}
.nav-tabs {
    margin: -10px -10px 0 -10px;
}
.nav-link {
    border-radius: 0;
    padding: 10px 15px;
    font-size: 1em;
    color: var(--main-color);
    text-decoration: none;
}
.nav-link:hover {
    color: var(--dark-accent-color);
}
#username {
    margin-bottom: 10px;
}
#image-wrapper {
    margin-right: 20px;
    width: 200px;
    position: relative;
    display: block;
}
#image-wrapper:hover .edit {
    display: block !important;
}
.edit {
    color: var(--dark-color);
    padding-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
.tab>a {
    margin-right: 0 !important;
}
.active>a {
    background: var(--mid-gray) !important;
    color: var(--dark-accent-color) !important;
}

/* Define positioning as viewport changes */
@media (min-width: 768px) {
    .tab:first-child .nav-link {
        border-top-left-radius: 7px;
    }
}
@media (max-width: 767px) {
    .tab {
        width: 25%;
    }
    .nav-link {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

        border-left: 1px solid var(--light-gray);
        border-right: 1px solid var(--light-gray);
    }
    .content-wrapper {
        width: 100%;
    }
    .nav-tabs {
        border-top: none;
    }  
}
@media (max-width: 565px) {
    .user-header {
        padding-top: 70px;
    }
}

@media (max-width: 505px) {
    .user-info {
        width: 100%;
        padding-top: 0;
        text-align: center;
    }
    #image-wrapper {
        margin-left: calc(50% - 100px);
        margin-right: calc(50% - 100px);
    }
}