<button class="pull-right btn btn-secondary" type="button" data-toggle="modal" data-target="#formModal">Edit</button>

<div class="modal fade" id="formModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Your Profile</h4>
      </div>
      <div class="modal-body">
        <form #profileForm="ngForm">
          <div class="form-group">
            <label for="enterName">Name:</label>
            <input type="text" class="form-control" id="name" aria-describedby="enterName" placeholder="Enter your name" name="name"
              #name="ngModel" [(ngModel)]="model.name">
          </div>
          <div class="form-group">
            <label for="enterLocation">Location:</label>
            <input type="text" class="form-control" id="location" aria-describedby="enterLocation" placeholder="Enter your location"
              name="location" #location="ngModel" [(ngModel)]="model.location">
          </div>
          <div class="form-group">
            <label for="enterBirthday">Birthday:</label>
            <input type="date" class="form-control" id="birth_date" aria-describedby="enterBirthday" name="birth_date" [(ngModel)]="model.birth_date"
              #birth_date="ngModel">
          </div>
          <div class="form-group">
            <label for="enterBio">Biography:</label>
            <textarea rows="6" class="form-control" placeholder="Enter a bio..." aria-describedby="enterBio" id="bio" name="bio" #bio="ngModel"
              [(ngModel)]="model.bio"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="submitForm(); resetModel();">Update</button>
      </div>
    </div>
  </div>
</div>