<project-form class="top" (submit)="loadProjects()"></project-form>
<div class="container">
	<div class="row visible center-block" *ngFor="let project of projects">
		<div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4 user" (click)="routeTo('/profiles/' + project.user.id)">
			<h4 class="username pull-left">{{project.user.username}}</h4>
		</div>
		<div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8 project" (click)="routeTo('/projects/' + project.id)">
			<h3 class="project-title pull-left">{{project.title}}</h3>
			<small class="datetime text-muted pull-left">on {{project.create_datetime | date:'medium'}}</small>
			<p class="project-description pull-left">{{project.description}}</p>
		</div>
	</div>
</div>