<div class="container" *ngIf="project">
    <div class="visible top center-block row project-header">
        <h2 class="col text-center title">{{project.title}}</h2>
        <div class="col user-wrapper">
            <h4 class="username" (click)="routeTo('/profiles/' + project.user.id)">{{project.user.username}}</h4>
        </div>
        <p class="col website pull-right"><a href="http://{{project.website}}">{{project.website}}</a></p>
        <small class="col text-muted">Created {{project.create_datetime | date:'medium'}}</small>
        <div class="pull-right edit-wrapper" *ngIf="project.user.id==userId">
            <button type="button" class="btn btn-secondary">Edit</button>
        </div>
    </div>
    <div class="visible center-block row project-body">
        <ul class="nav nav-tabs">
            <li class="nav-item tab" (click)="currentTab='detail'"><a class="btn nav-link">Detail</a></li>
            <li class="nav-item tab" (click)="currentTab='team'"><a class="btn nav-link">Team</a></li>
            <li class="nav-item tab" (click)="currentTab='tasks'"><a class="btn nav-link">Tasks</a></li>
        </ul>
        <div class="detail-wrapper" *ngIf="currentTab=='detail'">
            <div class="col content-wrapper">
                <p class="category">{{project.category}}</p>
                <p class="description">{{project.description}}</p>
            </div>
            <div class="col content-wrapper comments" *ngIf="project.comments.length">
                <div class="row comment-wrapper" *ngFor="let comment of project.comments">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-left text-center user-body" (click)="routeTo('/profiles/' + comment.user.id)">
                        <p class="username">{{comment.user.username}}</p>
                        <small class="text-muted">{{comment.create_datetime | date:'medium'}}</small>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 comment-body">{{comment.body}}</div>
                    <div class="pull-right delete-wrapper" *ngIf="comment.user.id==userId">
                        <button type="button" class="close" aria-label="Close">
                            <span class="delete-comment-button" (click)="deleteComment(comment.id)">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <form class="center-block comment-form" *ngIf="isAuthenticated">
                <textarea class="pull-left col-xs-9 col-sm-9 col-md-10 col-lg-10 form-content" rows="3" placeholder="Write a comment" #commentBody></textarea>
                <div class="pull-left col-xs-2 col-sm-2 col-md-1 col-lg-1 submit-wrapper">
                    <button type="submit" class="btn btn-primary" (click)="submitComment(commentBody.value); commentBody.value = ''">Submit</button>
                </div>
            </form>
        </div>
        <div class="team-wrapper" *ngIf="currentTab=='team'">
            <div class="message-list" *ngIf="project.team.messages.length">
                <div class="center-block row message" *ngFor="let message of project.team.messages">
                    <div class="row center-block message-user-wrapper">
                        <div class="pull-left user-image" (click)="routeTo('/profiles/' + message.user.id)">image</div>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 team-username">
                            <p (click)="routeTo('/profiles/' + message.user.id)">{{message.user.username}}</p>
                        </div>
                        <small class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-muted pull-left message-create-date">{{message.create_datetime | date:'medium'}}</small>
                        <button class="pull-right btn btn-primary support-button" type="button"><span class="glyphicon glyphicon-heart"></span></button>
                    </div>
                    <p class="col message-content">{{message.body}}</p>
                </div>
            </div>
            <div class="text-center message-list" *ngIf="!project.team.messages.length">
                <p>No messages</p>
            </div>
        </div>
        <div class="task-wrapper" *ngIf="currentTab=='tasks'">
            <div class="task-list" *ngIf="project.tasks.length">
                <div class="row center-block task" *ngFor="let task of project.tasks">
                    <div class="row task-upper">
                        <h4 class="center-block col task-title">{{task.title}}
                            <p class="pull-right task-status">{{task.status}}</p>
                        </h4>
                        <small class="text-muted pull-left task-last-updated">Last updated {{task.last_updated | date:'medium'}}</small>
                    </div>
                    <p class="pull-left col task-skills">Suggested Skills: {{task.skills}}</p>
                    <p class="row center-block task-description">{{task.description}}</p>
                </div>
            </div>
            <div class="text-center task-list" *ngIf="!project.tasks.length">
                <p>No tasks</p>
            </div>
        </div>
    </div>
</div>