<div class="container" *ngIf="user">
    <div class="visible top center-block user-header">
        <div class="center-block row content-wrapper">
            <p class="col pull-left image">Image.png</p>
            <h2 class="col pull-left username">{{user.username}}
                <h4 class="col pull-left email">{{user.email}}</h4>
            </h2>
            <small class="col text-muted timestamp">User since: {{user.date_joined | date:'medium'}}</small><br>
            <small class="col text-muted timestamp">Last login: {{user.last_login | date:'medium'}}</small>
            <button class="pull-right btn btn-primary" type="button" *ngIf="currentUserId==userId">Edit</button>
        </div>
    </div>
    <div class="visible center-block user-body">
        <ul class="nav nav-tabs">
            <li class="nav-item tab" (click)="currentTab='detail'"><a class="btn nav-link">Detail</a></li>
            <li class="nav-item tab" (click)="currentTab='projects'"><a class="btn nav-link">Projects</a></li>
            <li class="nav-item tab" (click)="currentTab='teams'"><a class="btn nav-link">Teams</a></li>
        </ul>
        <div class="center-block content-wrapper" *ngIf="currentTab=='detail'">
            <div class="row data-wrapper">
                <p class="col pull-left name">Name: {{user.first_name}}&nbsp;{{user.last_name}}</p>
                <p class="col location">Location: {{user.location}}</p>
                <p class="col birthday">Birthday: {{user.birth_date}}</p>
                <p class="col bio">Bio: {{user.bio}}</p>
            </div>
        </div>
        <div class="center-block content-wrapper" *ngIf="currentTab=='projects'">
            <div class="row data-wrapper" *ngFor="let project of user.projects" (click)="routeTo('/projects/' + project.id)">
                <h3 class="col item-content project-title">{{project.title}}</h3>
                <small class="col item-content text-muted">{{project.create_datetime | date:'medium'}}</small>
                <p class="col item-content project-description">{{project.description}}</p>
            </div>
        </div>
    </div>
</div>