<div class="container outer">
  <div class="visible top" *ngIf="currentUser">
    <div class="row center-block content-wrapper">
      <div class="col text-center">You're already logged in!</div>
      <div class="col text-center">You can reset your password by visiting your
        <a routerLink="/settings">settings</a>.</div>
    </div>
  </div>
  <div class="visible top" *ngIf="!currentUser">
    <form #forgotPasswordForm (ngSubmit)="recaptcha.execute()" *ngIf="!submitted">
      <div class="form-group row center-block content-wrapper text-center">Enter your username or email address to reset your password.</div>
      <div class="form-group row center-block content-wrapper">
        <div class="col-xs-3 col-md-2">
          <label class="pull-right" for="enterUsername">Username</label>
        </div>
        <div class="col-xs-8 col-xs-push-1 col-sm-push-0 col-md-10">
          <input type="text" class="form-control" [(ngModel)]="username" name="enterUsername">
        </div>
      </div>
      <div class="text-center">or</div>
      <div class="form-group row center-block content-wrapper">
        <div class="col-xs-3 col-md-2">
          <label class="pull-right" for="enterEmail">Email</label>
        </div>
        <div class="col-xs-8 col-xs-push-1 col-sm-push-0 col-md-10">
          <input type="email" class="form-control" [(ngModel)]="email" name="enterEmail">
        </div>
      </div>
      <div class="form-group row center-block content-wrapper">
        <div class="hidden text-center" id="forgot-error-text">
          <small class="help-block" *ngIf="error">Please enter a username or email address!</small>
        </div>
      </div>
      <div class="form-group row center-block content-wrapper">
        <button type="submit" class="btn btn-primary pull-right">Reset</button>
      </div>
    </form>
    <div class="row center-block content-wrapper text-center" *ngIf="submitted">
      <div class="col">A link to reset your password will be sent to your email if an account exists with the specified username or email.</div>
      <div class="col">Please check your email and follow the link to regain access to your account.</div>
    </div>
    <recaptcha #recaptcha required aria-required="true" size="invisible" (resolved)="$event && submit($event)" siteKey="6LfC-kYUAAAAACj6JKNcWhXgqS-I-hTkEkx07AYx"></recaptcha>
  </div>
</div>