<div class="row" *ngIf="currentUser?.id == project.user.id">
    <button type="button" data-toggle="modal" data-target="#submitTaskModal" class="col-xs-12 btn btn-secondary">Add a Task</button>
    <div class="modal fade" id="submitTaskModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header no-bord">
                    <button type="close" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <app-submit-task-form [project]="project" (taskSubmitted)="appendTask($event)"></app-submit-task-form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="loadingData"></app-loading>
<div *ngIf="!loadingData && project.tasks?.length">
    <app-task-list-entry *ngFor="let task of project.tasks; let i = index" [task]="task" [index]="i" [allowEdit]="currentUser?.id == project.user.id"
        [allowSubmissions]="true" [showSubmissionView]="currentUser?.id == project.user.id" (addedSkill)="addedSkill.emit($event)" (deletedTask)="onDeletedTask($event)" (removedSkill)="removedSkill.emit($event)"></app-task-list-entry>
</div>
<div *ngIf="!project.tasks?.length && !loadingData" class="text-center">There are no tasks available!</div>